.arrow-send {
  position: absolute;
  width: 280.79px;
  height: 170.31px;

  top: 75%;
  left: 40%;
  background: url(arrow-send.svg);
  transform: rotate(-15.75deg);
}

@media (max-width: 720px) {
  .arrow-send {
    width: 180.79px;
    height: 134.31px;
    top: 86%;
    left: 18%;
  }
}
