/* global application configurations, variables, nulling styles */
:root {
  background-color: #f5f5f5;
  --main-bg-color: #1f1f1f;
  --white-color: #ffffff;
  --gray-color: #717171;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
}
html {
  max-width: 1440px;
}

@media (max-width: 425px) {
  body {
    max-width: 425px;
  }
  html {
    max-width: 425px;
  }
}
