/* global application configurations, variables, nulling styles */
:root {
  background-color: #f5f5f5;
  --main-bg-color: #1f1f1f;
  --white-color: #ffffff;
  --gray-color: #717171;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 575px) {
  .wrapper {
    width: 100%;
  }
}
