.company {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 214px;
  align-items: flex-start;
  gap: 24px;
}

@media (max-width: 425px) {
  .company {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 140px;
    width: 82;
    align-items: flex-start;
    gap: 10px;
  }
}
